Sources of Python tutorial:
def function tutorial: https://realpython.com/python-return-statement/
Regex(re) tutorials: https://docs.python.org/3/library/re.html https://developers.google.com/edu/python/regular-expressions https://www.programiz.com/python-programming/regex
OCR with Tesseract, OpenCV: https://nanonets.com/blog/ocr-with-tesseract/

In [1]:
import cv2
import re
import numpy as np
import pytesseract
from pytesseract import Output
import pandas as pd
#from datetime import datetime
import datetime

In [2]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract'

In [3]:
img =cv2.imread(r"C:\Users\joerr\Desktop\Receipts\receipt_apr4.jpg",cv2.IMREAD_UNCHANGED)

In [4]:
#we wanna add a customised date to record the bought date instead of today. -- done
#sentiment categorisation for items

In [25]:
def receipt2words(img):
    scale_percent = 100 # percent of original size
    width = int(img.shape[1] * scale_percent / 100)
    height = int(img.shape[0] * scale_percent / 100)
    dim = (width, height)
    img = cv2.resize(img, dim)
    
    def get_grayscale(image):
        return cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    
    gray = get_grayscale(img)
    text1 = (pytesseract.image_to_string(img)).lower()
    text2 = (pytesseract.image_to_string(gray)).lower()
    return text1, text2

text1,text2 = receipt2words(img)

In [26]:
def bought_list(text_):
    grocery = re.findall(r'\n([^|\n]+)\d?',text_)
    
    def remove_duplicates(x):
        return list(dict.fromkeys(x))

    unwanted =[]
    wordings = ['terminal','invoice','countdown','receipt','date','cashier','amount','change','card', 'total', 'broadway',
                '§']
    for x in grocery:
        for j in wordings:
            if j in x:
                unwanted.append(x)

    unwanted = remove_duplicates(unwanted)
    final_list = [x for x in grocery if x not in unwanted]
    return final_list

In [27]:
print(text1)

birr pak ns nsave sylvia re
4 sp food warehouse ltd »#

286 mt wellington highway
proof of purchase will be required
for all refunds or exchanges
tel: (09) 526 1790

order online and collect from the store
go to paknsave.co.nz/shop

a/wick reed blckbry/van 5oml $8.49
dettol a/b h/wash hoistr rf s50ml $6.29
duck deep action gel pine 750hl $2.99
kinder bueno hazelnut 436

2 q $1.50 $3.00
red bull energy drink 250ml can

2@ $1.95 $3.90
sorbent facial tissues white 224s

2@ $2.79 $5.58
sorbent facial tissu -$0.58
wrigleys eclipse mint chewy s/mint 276 $1.69
lewis road creamry frsh hnt ch mlk 3ooml $3.79
nz beef stir fry $7.92
nz pork sirloin steak $7.48
turks f/r nibbles moroccan 1kg $8.79

14 balance due $99.34
eftpos $59.34

xuzsazeese329456

__ auth code = 026090

In [28]:
print(text2)

*® sp food warehouse ltd *x
286 mt wellington highway
proof of purchase will be required
for all refunds or exchanges
tel: (09) 526 1790

order online and collect from the store
go to paknsave.co.nz/shop
a/wick reed blckbry/van 5oml $8.49
dettol a/b h/wash hoistr rf s50ml $6.29

duck deep action gel pine 750ml $2.99
kinder bueno hazelnut 436

2 q $1.50 $3.00
red bull energy drink 250ml can

2@ $1.95 $3.90
sorbent facial tissues white 224s

2@ $2.79 $5.58
sorbent facial tissu -$0.58
wrigleys eclipse mint chewy s/mint 276 $1.69
lewis road creamry frsh mnt ch mlk sooml $3.79
nz beef stir fry $7.92
nz pork sirloin steak $7.48
turks f/r nibbles moroccan 1kg $8.79

14 balance due $99.34
eftpos $59.34

uassazeese3s9456

__ auth code = 026090

In [29]:
bought_list = bought_list(text2)

In [30]:
bought_list

['286 mt wellington highway',
 'proof of purchase will be required',
 'tel: (09) 526 1790',
 'order online and collect from the store',
 'go to paknsave.co.nz/shop',
 'a/wick reed blckbry/van 5oml $8.49',
 'dettol a/b h/wash hoistr rf s50ml $6.29',
 'duck deep action gel pine 750ml $2.99',
 'kinder bueno hazelnut 436',
 '2 q $1.50 $3.00',
 'red bull energy drink 250ml can',
 '2@ $1.95 $3.90',
 'sorbent facial tissues white 224s',
 '2@ $2.79 $5.58',
 'sorbent facial tissu -$0.58',
 'wrigleys eclipse mint chewy s/mint 276 $1.69',
 'lewis road creamry frsh mnt ch mlk sooml $3.79',
 'nz beef stir fry $7.92',
 'nz pork sirloin steak $7.48',
 'turks f/r nibbles moroccan 1kg $8.79',
 '14 balance due $99.34',
 'eftpos $59.34',
 'uassazeese3s9456',
 '__ auth code = 026090']

In [37]:
def pop_out(XX,p):
    while True:
        a1 = input("Which row you wanna delete? Press n if want to exit. ")
        if a1 =='N' or a1 ==('N').lower():
            return XX
            break
        else:
            XX.pop(int(a1))
            print(XX)
            continue
    return XX

In [36]:
pop_out(bought_list,0)

Which row you wanna delete? Press n if want to exit n

['a/wick reed blckbry/van 5oml $8.49',
 'dettol a/b h/wash hoistr rf s50ml $6.29',
 'duck deep action gel pine 750ml $2.99',
 'kinder bueno hazelnut 436',
 '2 q $1.50 $3.00',
 'red bull energy drink 250ml can',
 '2@ $1.95 $3.90',
 'sorbent facial tissues white 224s',
 '2@ $2.79 $5.58',
 'sorbent facial tissu -$0.58',
 'wrigleys eclipse mint chewy s/mint 276 $1.69',
 'lewis road creamry frsh mnt ch mlk sooml $3.79',
 'nz beef stir fry $7.92',
 'nz pork sirloin steak $7.48',
 'turks f/r nibbles moroccan 1kg $8.79']

def manual_categorise():
    while True:
        x1 = input('Which row is needed to change? Press n if want to exit ')
        if x1 =='N' or x1 ==('N').lower():
            return categorise
            break
        else:
            x2 = str(input('Change to which category? '))
            categorise[int(x1)] = (x2).lower()
            continue
            
    return categorise

In [62]:
#Add a function to edit wrong input here
def editing(a,b, target_string):
    bought_list[a] = bought_list[a].split()
    bought_list[a][b] = str(target_string)
    bought_list[a] = ' '.join(bought_list[a])
    return bought_list

In [71]:
editing(-3,-7,'naturl')

['t/top s/soft 700g white toast 3.50',
 'farmer brown eggs size 6 12 pk 5.20',
 '“ haagen dazs strawberries 457m] 8.00',
 'ww chicken padthai w/rice noodles 350g 4.50',
 '*“hansells naturl soupmxn chkn & tmto 400g 3.50',
 '* hansells soup chicken corn pouch 400g 3.50',
 '“ cd bbq beef sliders 600g 7.20']

In [13]:
def tobelist(bought_list):
    check_num = []
    for i in bought_list:
        nums = re.findall('\-*\d+\s?\.\s?[\d+]+',i)
        check_num.append(len(nums))
        
    noned = []
    for i in range(len(check_num)):
        if check_num[i] == 0:
            bought_list[i+1] = bought_list[i]+' '+bought_list[i+1]
            noned.append(i)
    for i in sorted(noned, reverse = True):
        del bought_list[i]  

    price = []
    for i in range(len(bought_list)):
        popout = bought_list[i].split(' ')
        prices = popout.pop(-1)
        price.append(prices)
        bought_list[i] = ' '.join(popout)
    
    for i in range(len(price)):
        if '$' in price[i]:
            price[i] = price[i].replace("$", "")
    for i in range(len(price)):
        if '~' in price[i]:
            price[i] = price[i].replace('~','-')
            
    price = [float(i) for i in price]
    return bought_list ,price

bought_list, price = tobelist(bought_list)

In [14]:
def dateinput():
    x = int(input("Year:"))
    y = int(input("Month:"))
    z = int(input("Day:"))
    today = datetime.datetime(x,y,z)
    ddate = today.strftime("%d/%m/%Y")
    datess = [ddate]*len(bought_list)
    return datess

In [15]:
datess = dateinput()

Year:2020
Month:6
Day:13

In [16]:
datess

['13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020',
 '13/06/2020']

In [21]:
def categorisation(bought_list):
    categorise = ['others']*len(bought_list)

    wrd_glu = ['toast', 'noodles','bef','hansells','tuna','kungfood']
    wrd_meat = ['sliders','nibbles','burgers','steak','mince','stir fry']
    wrd_cook = ['eggs','crab stick']
    wrd_snack = ['haagen','kinder','eclipse']
    wrd_vf = ['kiwifruit golden','persimmons','choy','choi','lettuce']
    wrd_drink = ['tea','coffee','coca cola','red bull','lewis road']
    wrd_househ = ['tissue','sorbent','dettol']
    for i in range(len(bought_list)):
        for j in wrd_glu:
            if j in bought_list[i]:
                categorise[i] = 'gluten'

    for i in range(len(bought_list)):
        for j in wrd_meat:
            if j in bought_list[i]:
                categorise[i] = 'meat'

    for i in range(len(bought_list)):
        for j in wrd_cook:
            if j in bought_list[i]:
                categorise[i] = 'cook'

    for i in range(len(bought_list)):
        for j in wrd_snack:
            if j in bought_list[i]:
                categorise[i] = 'snack'
    
    for i in range(len(bought_list)):
        for j in wrd_vf:
            if j in bought_list[i]:
                categorise[i] = 'vege_and_fruit'

    for i in range(len(bought_list)):
        for j in wrd_drink:
            if j in bought_list[i]:
                categorise[i] = 'drink'

    for i in range(len(bought_list)):
        for j in wrd_househ:
            if j in bought_list[i]:
                categorise[i] = 'household'
    

    return categorise

categorise =categorisation(bought_list)

In [18]:
def manual_categorise():
    while True:
        x1 = input('Which row is needed to change? Press n if want to exit ')
        if x1 =='N' or x1 ==('N').lower():
            return categorise
            break
        else:
            x2 = str(input('Change to which category? '))
            categorise[int(x1)] = (x2).lower()
            continue
            
    return categorise

In [19]:
categorise

['others',
 'household',
 'others',
 'snack',
 'drink',
 'household',
 'household',
 'snack',
 'drink',
 'others',
 'drink',
 'meat',
 'others']

In [22]:
manual_categorise()

Which row is needed to change? Press n if want to exit -4
Change to which category? meat
Which row is needed to change? Press n if want to exit 0
Change to which category? household
Which row is needed to change? Press n if want to exit 2
Change to which category? household
Which row is needed to change? Press n if want to exit n

['household',
 'household',
 'household',
 'snack',
 'drink',
 'household',
 'household',
 'snack',
 'drink',
 'meat',
 'drink',
 'meat',
 'others']

In [20]:
flist_view = pd.DataFrame([bought_list,price, datess, categorise]).swapaxes("index", "columns")
flist_view

                                             0      1           2          3
0                 a/wick reed blckbry/van 5oml   8.49  13/06/2020     others
1            dettol a/b h/wash hoistr rf s50ml   6.29  13/06/2020  household
2              duck deep action gel pine 750ml   2.99  13/06/2020     others
3          kinder bueno hazelnut 436 2 q $1.50    3.0  13/06/2020      snack
4     red bull energy drink 250ml can 2@ $1.95    3.9  13/06/2020      drink
5   sorbent facial tissues white 224s 2@ $2.79   5.58  13/06/2020  household
6                         sorbent facial tissu  -0.58  13/06/2020  household
7       wrigleys eclipse mint chewy s/mint 276   1.69  13/06/2020      snack
8     lewis road creamry frsh mnt ch mlk sooml   3.79  13/06/2020      drink
9                             nz beef stir fry   7.92  13/06/2020     others
10                       nz pork sirloin steak   7.48  13/06/2020      drink
11              turks f/r nibbles moroccan 1kg   8.79  13/06/2020       meat
12                              14 balance due  99.34  13/06/2020     others

In [148]:
def savengo(bought_list, price, datess, categorise):
    df2 = pd.read_excel('C:/Users/joerr/Desktop/items_bought.xlsx')
    frames = [bought_list,price, datess, categorise]
    df1 = pd.DataFrame(frames)
    df1 = df1.swapaxes("index", "columns")
    headers = ['Items', 'Price','Date', 'Category']
    df1.columns = headers
    df1 = df1.fillna(method="pad")
    df1 = pd.concat([df2,df1])
    df1.to_excel(r"C:\Users\joerr\Desktop\items_bought.xlsx",encoding ='utf-8',index=False) 
    return df1

In [149]:
df1 = savengo(bought_list, price, datess, categorise)

In [150]:
df1

,Items,Price,Date,Category
0,onion brown loose 0.127kg met @ $2.99/kg,0.47,22/03/2022,vege_and_fruit
1,potato washed white loose potato washed white ...,0.78,22/03/2022,vege_and_fruit
2,tomato loose,0.93,22/03/2022,vege_and_fruit
3,indomie mi goreng noodle 10x85,7.00,22/03/2022,gluten
4,haagen dazs strawberries 457ml,10.00,22/03/2022,snack
...,...,...,...,...
7,wrigleys eclipse mint chewy s/mint 276,1.69,11/04/2022,snack
8,lewis road creamry frsh mnt ch mlk sooml,3.79,11/04/2022,drink
9,nz beef stir fry,7.92,11/04/2022,others
10,nz pork sirloin steak,7.48,11/04/2022,drink
11,turks f/r nibbles moroccan 1kg,8.79,11/04/2022,meat

In [4]:
bought_list_ = ['t/top $/soft 700g white toast',
 'farmer brown eggs size 6 12 pk',
 '“ haagen dazs strawberries 457m]',
 'ww chicken padthai w/rice noodles 350g',
 '*“hansells natur] souphxn chkn & tmto 400g',
 '* hansells soup chicken corn pouch 400g',
 '“ cd brq beef sliders 6006']
price_ = [3.5, 5.2, 8.0, 4.5, 3.5, 3.5, 7.2]

In [ ]:
    today = datetime.datetime.today()
    date = today.strftime("%d/%m/%Y")
    date_ = today.strftime("%m/%d/%Y")
    datess_ = [date_]*len(bought_list_)
    datess = [date]*len(bought_list_)
    frames = [bought_list_,price_, datess_]
    df1_ = pd.DataFrame(frames)
    df1_ = df1_.swapaxes("index", "columns")
    df11_ = df1_.values
    df11_ = df11_.tolist()

In [14]:
from google.oauth2.service_account import Credentials
from googleapiclient.discovery import build

In [49]:
SERVICE_ACCOUNT_FILE = r"C:\Users\joerr\Desktop\Receipts\bought-items-ba2eba779d68.json"
SPREADSHEET_ID = '1-C5O9iVUGOLKjtEBfYW4hDCXRt2Gmbwcg5jyumhk_9c'

SCOPES = ['https://spreadsheets.google.com/feeds',
          'https://www.googleapis.com/auth/drive']
credentials = Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE, scopes=SCOPES)

service = build('sheets', 'v4', credentials=credentials)
 
sheet = service.spreadsheets()

range = 'A1'
values = [[date_]]
body = {'values' : values}
 
sheet.values().append(spreadsheetId=SPREADSHEET_ID, 
                      valueInputOption='RAW',
                      range=range,
                      body=body).execute()

TypeError: Object of type datetime is not JSON serializable

In [34]:
import gspread

SERVICE_ACCOUNT_FILE = r"C:\Users\joerr\Desktop\Receipts\bought-items-ba2eba779d68.json"
SPREADSHEET_ID = '1-C5O9iVUGOLKjtEBfYW4hDCXRt2Gmbwcg5jyumhk_9c'

SCOPES = ['https://spreadsheets.google.com/feeds',
          'https://www.googleapis.com/auth/drive']

credentials = Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE, scopes=SCOPES)
client = gspread.authorize(credentials)
rsheet = client.open_by_url('https://docs.google.com/spreadsheets/d/1-C5O9iVUGOLKjtEBfYW4hDCXRt2Gmbwcg5jyumhk_9c')

#define the correct worksheet, index - 0 is the first sheet, 1 is the second...
sheet = rsheet.get_worksheet(0)

sheet.update_acell('A295' , datetime.datetime.today().strftime('%d/%m/%Y'))

{'spreadsheetId': '1-C5O9iVUGOLKjtEBfYW4hDCXRt2Gmbwcg5jyumhk_9c',
 'updatedRange': 'Sheet1!A295',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}